.navbar-nav{
    background-color: #000fe633;
    color:rgb(117, 12, 12);
}

body {
    background-image: url('gym_background/Gym_bkground.jpeg');
    color: blue;
}
h1 {
    color: blue;
    text-align: center;

}

.clients{
    color: white;
    text-align: center;
}